---
import MeeLogo from "./MeeLogo.astro";
interface Props {
  title: string;
  id: string;
  formId: string;
  subtitle: string;
  className?: string;
}

const { title, id, subtitle, formId, className } = Astro.props;
---

<div
  class:list={["mb-6 flex w-full flex-col items-center gap-8 px-12", className]}
  id={id}
>
  <a
    href="/"
    id="mainLogo"
    class:list={["logo block w-40", { "logo--contrast": true }]}
  >
    <MeeLogo />
  </a>
  <div class="flex flex-col items-center gap-2">
    <div class="overflow-hidden">
      <h2
        class="marker animate-riseIn text-center text-3xl font-bold text-gray-900"
        set:html={title}
      />
    </div>
    <div class="overflow-hidden">
      <h3
        class="animate-riseIn text-center text-xl font-normal not-italic tracking-0.02 text-gray-800"
        set:html={subtitle}
      />
    </div>
  </div>

  <hr class="w-full border-gray-300" />
  <form
    class="mx-auto flex w-full flex-col items-center gap-4"
    id={formId}
    autocomplete="off"
  >
    <slot />
  </form>
</div>
