---
export interface Props {
}

import '@styles/base.css';
---

 <div  class:list={["scrollContainer", "overflow-hidden"]}>
    <slot></slot>
</div>

<script>
  import ScrollHelper from "../helpers/scroll";

  ScrollHelper.initScroll();
</script>
