---
import Accordion from "@components/Accordion.astro";
---

<div class="flex flex-col gap-10 p-10">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Accordion Box</h2>
    </div>
    <div class="flex flex-col gap-2">
      <Accordion title="Buttons" icon="menu-button-wide" size="lg">
        <p>
          Here, time dances to the rhythm of gentle waves, inviting you to
          unwind amidst the splendor of Italy's Amalfi Coast. Nestled along the
          sun-kissed cliffs overlooking the cerulean waters of the Mediterranean
          Sea.
        </p>
      </Accordion>
      <Accordion title="Buttons" icon="menu-button-wide" size="md">
        <p>
          Here, time dances to the rhythm of gentle waves, inviting you to
          unwind amidst the splendor of Italy's Amalfi Coast. Nestled along the
          sun-kissed cliffs overlooking the cerulean waters of the Mediterranean
          Sea.
        </p>
      </Accordion>
      <Accordion title="Buttons" icon="menu-button-wide" size="sm">
        <p>
          Here, time dances to the rhythm of gentle waves, inviting you to
          unwind amidst the splendor of Italy's Amalfi Coast. Nestled along the
          sun-kissed cliffs overlooking the cerulean waters of the Mediterranean
          Sea.
        </p>
      </Accordion>
    </div>
  </div>
</div>
