---
import Badge from "@components/Badge.astro";
---

<div class="flex flex-col gap-10 p-10">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Primary</h2>
      <div>
        <Badge leftIcon="check-circle" rightIcon="info-circle" size="xxs"
          >Label</Badge
        >
      </div>
      <div>
        <Badge leftIcon="check-circle" rightIcon="info-circle" size="xs"
          >Label</Badge
        >
      </div>
      <div>
        <Badge leftIcon="check-circle" rightIcon="info-circle" size="s"
          >Label</Badge
        >
      </div>
      <div>
        <Badge leftIcon="check-circle" rightIcon="info-circle" size="m"
          >Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Primary light</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Primary Pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          shape="pill">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Primary light pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          shape="pill">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          shape="pill">Label</Badge
        >
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Secondary</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          type="secondary">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Secondary light</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          type="secondary">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Secondary Pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Secondary light pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          shape="pill"
          type="secondary">Label</Badge
        >
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Success</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          type="success">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Success light</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          type="success">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Success Pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Success light pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          shape="pill"
          type="success">Label</Badge
        >
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Danger</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          type="danger">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Danger light</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          type="danger">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Danger Pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Danger light pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          shape="pill"
          type="danger">Label</Badge
        >
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Warning</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          type="warning">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Warning light</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          type="warning">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Warning Pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Warning light pill</h2>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xxs"
          style="light"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="xs"
          style="light"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="s"
          style="light"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
      <div>
        <Badge
          leftIcon="check-circle"
          rightIcon="info-circle"
          size="m"
          style="light"
          shape="pill"
          type="warning">Label</Badge
        >
      </div>
    </div>
  </div>
</div>
