---
import Scroll from "@components/Scroll.astro";
---

<div class="flex flex-col gap-10 p-10">
    <div>
        <h1 class="text-2xl font-semibold">Vertical scroll</h1>
        <div class="flex flex-row gap-4 border border-grey w-1/2 h-40 bg-grey-100">
            <Scroll>
                <p>
                    Dictum maximus maximus ultrices ad, auctor suscipit mollis nunc! Morbi eleifend taciti euismod sagittis eleifend primis facilisi mus. Nullam interdum pharetra facilisis enim; sapien massa. Sodales morbi est id rhoncus vivamus amet lacinia pharetra? Rutrum velit fringilla natoque nunc id habitant feugiat lacus pretium. Litora ultrices nam, donec aenean velit natoque. Sagittis hendrerit id diam integer lacinia. Consectetur cras metus at tincidunt penatibus dapibus venenatis integer. Tincidunt natoque purus nibh ipsum tempor ex lacinia quis turpis. Per eu quisque torquent at viverra.
                </p>
                <p>
                    Dictum maximus maximus ultrices ad, auctor suscipit mollis nunc! Morbi eleifend taciti euismod sagittis eleifend primis facilisi mus. Nullam interdum pharetra facilisis enim; sapien massa. Sodales morbi est id rhoncus vivamus amet lacinia pharetra? Rutrum velit fringilla natoque nunc id habitant feugiat lacus pretium. Litora ultrices nam, donec aenean velit natoque. Sagittis hendrerit id diam integer lacinia. Consectetur cras metus at tincidunt penatibus dapibus venenatis integer. Tincidunt natoque purus nibh ipsum tempor ex lacinia quis turpis. Per eu quisque torquent at viverra.
                </p>
            </Scroll>
        </div>
    </div>
    <div>
        <h1 class="text-2xl font-semibold">Vertical and horizontal scrolls</h1>
        <div class="flex flex-col gap-4 border border-grey w-1/2 h-40 bg-grey-100">
            <Scroll>
                <p class="w-[120%]">
                    Dictum maximus maximus ultrices ad, auctor suscipit mollis nunc! Morbi eleifend taciti euismod sagittis eleifend primis facilisi mus. Nullam interdum pharetra facilisis enim; sapien massa. Sodales morbi est id rhoncus vivamus amet lacinia pharetra? Rutrum velit fringilla natoque nunc id habitant feugiat lacus pretium. Litora ultrices nam, donec aenean velit natoque. Sagittis hendrerit id diam integer lacinia. Consectetur cras metus at tincidunt penatibus dapibus venenatis integer. Tincidunt natoque purus nibh ipsum tempor ex lacinia quis turpis. Per eu quisque torquent at viverra.
                </p>
                <p class="w-[120%]">
                    Dictum maximus maximus ultrices ad, auctor suscipit mollis nunc! Morbi eleifend taciti euismod sagittis eleifend primis facilisi mus. Nullam interdum pharetra facilisis enim; sapien massa. Sodales morbi est id rhoncus vivamus amet lacinia pharetra? Rutrum velit fringilla natoque nunc id habitant feugiat lacus pretium. Litora ultrices nam, donec aenean velit natoque. Sagittis hendrerit id diam integer lacinia. Consectetur cras metus at tincidunt penatibus dapibus venenatis integer. Tincidunt natoque purus nibh ipsum tempor ex lacinia quis turpis. Per eu quisque torquent at viverra.
                </p>
                <p class="w-[120%]">
                    Dictum maximus maximus ultrices ad, auctor suscipit mollis nunc! Morbi eleifend taciti euismod sagittis eleifend primis facilisi mus. Nullam interdum pharetra facilisis enim; sapien massa. Sodales morbi est id rhoncus vivamus amet lacinia pharetra? Rutrum velit fringilla natoque nunc id habitant feugiat lacus pretium. Litora ultrices nam, donec aenean velit natoque. Sagittis hendrerit id diam integer lacinia. Consectetur cras metus at tincidunt penatibus dapibus venenatis integer. Tincidunt natoque purus nibh ipsum tempor ex lacinia quis turpis. Per eu quisque torquent at viverra.
                </p>
            </Scroll>
        </div>
    </div>
</div>
