---
import MirrorLogo from "@components/MirrorLogo.astro";
import TypingLogo from "@components/TypingLogo.astro";
---

<div class="flex flex-col gap-10 p-10">
  <div>
    <TypingLogo size="small" />
    <MirrorLogo size="small" />
  </div>
  <div>
    <TypingLogo size="large" />
    <MirrorLogo size="large" />
  </div>
</div>
